@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: url("/BilderWebseite/shutterstock_492782749.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  z-index: 1200;
}

.nav::before {
  z-index: 1300;
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(333, 333, 333, 0.6),
    transparent
  );
  transition: 0.5s;
}

.nav:hover::before {
  left: 100%;
}

.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  z-index: 1200;
  margin-left: 1px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-bottom: red 1px solid;
  z-index: 2000;
}

.navbar a {
  color: #000;
  font-size: 35px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #f00;
  border-bottom: red 1px solid;
  border-top: red 1px solid;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-text: center;
}

#arbeitgeber-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-text: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
  font-size: 23px;
  width: 1200px;
  color: rgb(255, 255, 255);
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
}

#doc-explain {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-item: center;
  align-text: center;
  color: white;
  font-size: 40px;
  padding: 1px;
  width: 1000px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-top: 150px;
  background-color: red;
}

#arbeitgeber-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-text: center;
}

#arbeitgeber-ul ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-text: center;
  flex-direction: column;
}

.big-arbeit-text {
  font-weight: bold;
  color: rgb(20, 20, 90);
}

#p-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-text: center;
  flex-direction: column;
}

#footer-container {
  width: 100%;
  hight: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: white 1px solid;
  background-color: gray;
  color: white;
  padding: 50px;
}

.footer-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 70px;
}

#footer-rechte-box {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: gray;
  padding: 30px;
  transition: 0.4s;
}

#small-footer-rechte-box {
  font-size: 12px;
}

#footer-rechte-box-hover:hover {
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
.ham2 .top {
  stroke-dasharray: 40 121;
}
.ham2 .bottom {
  stroke-dasharray: 40 121;
}
.ham2.active .top {
  stroke-dashoffset: -102px;
}
.ham2.active .bottom {
  stroke-dashoffset: -102px;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
.ham5 .top {
  stroke-dasharray: 40 82;
}
.ham5 .bottom {
  stroke-dasharray: 40 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}
.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  //stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.burger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: left 0.4s ease;
}

.burger-menu div {
  width: 100%;
  height: 4px;
  background-color: #333;
  margin: 5px 0;
}

.burger-menu.open {
  left: 200px;
}

.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  left: -330px;
  width: 300px;
  height: 100%;

  background-color: white;
  color: #fff;
  transition: left 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  z-index: 0;
  border-right: 2px red solid;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
}
.sidebar ul li {
  margin: 20px 0;
  background-color: red;
  font-size: 20px;
  padding: 15px;
  border-radius: 20px;
  width: 400px;
  transition: 0.5s ease;
  cursor: pointer;
}

.sidebar ul a {
  margin-left: 100px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.sidebar ul li a {
  margin-left: 100px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.sidebar ul li:hover {
  background-color: #fff;
  color: red;
  margin-left: 300px;
  transition: 0.5s ease;
}

.sidebar ul a:hover {
  color: red;
  text-decoration: none;
  transition: 0.5s ease;
}

.sidebar ul li:hover a {
  color: red;
  text-decoration: none;
  transition: 0.5s ease;
}

.sidebar.open ul li:hover {
  background-color: #fff;
  color: red;
  margin-left: 70px;
  transition: 0.5s ease;
}

.data-impres {
  font-size: 20px;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  transition: 0.1s ease;
}

.data-impres-between {
  font-size: 27px;
  color: white;
}

.data-impres:hover {
  color: white;
  cursor: pointer;
}
