@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: url("/BilderWebseite/shutterstock_492782749.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

::selection {
  color: white;
  background-color: #000;
}

header {
  position: relative;
  z-index: 1200;
}

.nav::before {
  z-index: 1300;
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(333, 333, 333, 0.6),
    transparent
  );
  transition: 0.5s;
}

.nav:hover::before {
  left: 100%;
}

.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  z-index: 1200;
  margin-left: 1px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-bottom: red 1px solid;
  z-index: 2000;
}

.navbar a {
  color: #000;
  font-size: 35px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #f00;
  border-bottom: red 1px solid;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#innovation-container {
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 100px;
  color: white;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 200px;
  border-radius: 50px;
  padding-left: 40px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#doc-explain {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 40px;
  padding: 1px;
  width: 1000px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-top: 150px;
  background-color: red;
}

.unter-text {
  text-decoration: underline;
}

.big-text {
  font-weight: bold;
}

.push {
  margin-left: 100px;
}

#footer-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 50px;
  margin-top: 400px;
}

.footer-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 70px;
}

#footer-rechte-box {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: gray;
  padding: 30px;
  transition: 0.4s;
}

#small-footer-rechte-box {
  font-size: 12px;
}

#footer-rechte-box-hover:hover {
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

.border {
  border-bottom: red 1px solid;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
.ham2 .top {
  stroke-dasharray: 40 121;
}
.ham2 .bottom {
  stroke-dasharray: 40 121;
}
.ham2.active .top {
  stroke-dashoffset: -102px;
}
.ham2.active .bottom {
  stroke-dashoffset: -102px;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
.ham5 .top {
  stroke-dasharray: 40 82;
}
.ham5 .bottom {
  stroke-dasharray: 40 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}
.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

#mobile-sidebar-li-img {
  display: none;
}
#mobile-container {
  display: none;
}

.burger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: left 0.4s ease;
}

.burger-menu div {
  width: 100%;
  height: 4px;
  background-color: #333;
  margin: 5px 0;
}

.burger-menu.open {
  left: 200px;
}

.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  left: -330px;
  width: 300px;
  height: 100%;

  background-color: white;
  color: #fff;
  transition: left 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  z-index: 0;
  border-right: 2px red solid;
}

.sidebar.open {
  left: 0;
}

.mobile-container {
  display: none;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
}
.sidebar ul li {
  margin: 20px 0;
  background-color: red;
  font-size: 20px;
  padding: 15px;
  border-radius: 20px;
  width: 400px;
  transition: 0.5s ease;
  cursor: pointer;
}

.sidebar ul li a {
  margin-left: 100px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.sidebar ul li:hover {
  background-color: #fff;
  color: red;
  margin-left: 300px;
  transition: 0.5s ease;
}

.sidebar ul a:hover {
  color: red;
  text-decoration: none;
  transition: 0.5s ease;
}

.sidebar ul li:hover a {
  color: red;
  text-decoration: none;
  transition: 0.5s ease;
}

.sidebar.open ul li:hover {
  background-color: #fff;
  color: red;
  margin-left: 70px;
  transition: 0.5s ease;
}

.data-impres a{
  color: gray;
  font-size: 15px;
}

.data-impres:hover a{
  color: white;
}

@media (max-width: 1785px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar a{
    font-size: 20px;
  }

  .logo {
    margin-left: 200px;
    width: 400px;
  }

  #grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80vh;
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .grid-item {
    width: 250px;
  }

  .grid-item:nth-last-child(1) {
    display: none;
  }

  #doc-explain {
    margin-top: 250px;
  }


}

@media (max-width: 1685px) {
  .sidebar {
    display: flex;
    position: fixed;
    top: 0;
    left: -430px;
    width: 300px;
    height: 100%;
  
    background-color: white;
    color: #fff;
    transition: left 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    z-index: 0;
    border-right: 2px red solid;
  }

  #grid-container {
    margin-left: -200px;
  }
}

@media (max-width: 1093px) {
  .logo {
    margin-left: 100px;
    width: 400px;
  }

  #doc-explain {
    width: 600px;
  }

    .data-impres {
      font-size: 20px;
    }
  
    #footer-rechte-box {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
    }

    #footer-container {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      margin: 0;
      padding-bottom: 10;
    }

    .border {
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
    }

    .border:nth-child(1) {
      margin-top: 30px;
    }

    #innovation-container {
      font-size: 20px;
      width: 700px;
    }

}

@media (max-width: 797px) {
  .logo {
    margin-left: 10px;
    width: 300px;
  }
  .navbar a {
    font-size: 20px
  }
}

@media (max-width: 717px) {
  #innovation-container {
    font-size: 15px;
    width: 500px;
  }
}

@media (max-width: 666px) {

  #doc-explain {
    width: 400px;
    font-size: 20px;
    margin-top: 150px;
  }
}

@media (max-width: 542px) {
  #grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 20vh;
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .grid-item {
    width: 150px;
    font-size: 20px;
  }

  .navbar a {
    display: none;
  }

  .nav {
    height: 100px;
  }

  .sidebar {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    left: -546px;
    flex-direction: column;
  }

  .sidebar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 290px;
    font-size: 10px;
    margin-right: 10px;
  }

  .sidebar #mobile-container ul li a{
    color: black;
  }


  #mobile-container {
    display: flex;
    flex-direction: column;
  }

  

}

@media (max-width: 541px) {
  .sidebar {
    margin-top: 30px;
  }

  .sidebar.open ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  #mobile-container{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin-right: 90px;
    position: absolute;
    top: 30px;
  }

  #mobile-container li {
    background-color: rgba(333, 333, 333, 0);
    width: 170px;
  }

  #mobile-container li a{
    color: black;
    font-size: 20px;
  }

  #mobile-container li:hover {
    margin-left: 0px;
  }

  #mobile-container li:hover a{
    color: red;
    border-bottom: red 1px solid;
  }

  #innovation-container {
    font-size: 13px;
    width: 400px;
  }
}

@media (max-width: 475px) {
  #mobile-container li {
    background-color: rgba(333, 333, 333, 0);
    width: 100px;
  }

  #grid-container {
    margin-left: -80px;
  }
}


@media (max-width: 417px) {
  .logo {
    width: 200px
  }

  #footer-container {
    font-size: 10px;
    padding-right: 100px;
  }

  .border {
    font-size: 10px;
    width: 200px;
  }

  #footer-rechte-box {
    font-size: 7px;
  }

  #innovation-container {
    font-size: 10px;
    width: 300px;
    padding: 20px;
  }

  #doc-explain {
    width: 300px;
    margin-top: 130px;
  }
}

@media (max-width: 375px) {
  .sidebar{
    margin-top: 20px
  }
}

@media (max-width: 341px) {
  #mobile-container li {
    width: 80px;
  }

  #mobile-container li a {
    font-size: 15px;
  }

  .sidebar ul li {
    width: 265px;
    font-size: 8px;
  }
}
